<app-header (dataSearch)="searchProduct($event)" [count]=count></app-header>
<div class="row product-List m-2">
  <div class="col-xs-12 col-md-4 col-lg-4 filter-box">
    <div class="form-group">
      <div class="form-group">
        <label>Color</label>
      </div>
      <div class="color-list">
        <ng-container *ngFor="let color of colorArray">
          <div class="check-box-block">
            <input type="checkbox" (change)="onChange(color, $event.target.checked)">
          </div>
          <div class="nameBlock">
            {{color.colour}}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group">
        <label>Brand</label>
      </div>
      <div class="brand-list">
        <ng-container *ngFor="let brand of brandArray">
          <div class="check-box-block">
            <input type="checkbox" (change)="onChangeBrand(brand, $event.target.checked)">
          </div>
          <div class="nameBlock">
            {{brand.brand}}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group">
        <label>Price</label>
      </div>
      <div class="price-list">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-6">
            <select class="form-control m-input" name="option" [(ngModel)]="price" (change)="selectPriceChange()">
              <option value="" disabled selected>
                Min
              </option>
              <option class="placeholder" *ngFor="let price of priceArray" [value]="price">
                {{price}}
              </option>
            </select>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6">
            <select class="form-control m-input" name="option" [(ngModel)]="price" (change)="selectPriceChange()">
              <option value="" disabled selected>
                Max
              </option>
              <option class="placeholder" *ngFor="let price of priceArray" [value]="price">
                {{price}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group">
        <label>Discount</label>
      </div>
      <div class="discount-list">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-6">
            <select class="form-control m-input" name="option" [(ngModel)]="discount" (change)="selectDiscountChange()">
              <option value="" disabled selected>
                Min
              </option>
              <option class="placeholder" *ngFor="let discount of discountArray" [value]="discount">
                {{discount}}
              </option>
            </select>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6">
            <select class="form-control m-input" name="option" [(ngModel)]="discount" (change)="selectDiscountChange()">
              <option value="" disabled selected>
                Max
              </option>
              <option class="placeholder" *ngFor="let discount of discountArray" [value]="discount">
                {{discount}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-8 col-lg-8">
    <div class="cardList">
      <ng-container *ngFor="let product of productList">
        <div class="cardListItem">
          <div class="image-block">
            <img class="product-img" [src]="product.image" width="100%">
          </div>
          <div class="productContnt">
            <div>
              <b style="color: black;">Product</b>: {{product.title}}
            </div>
            <div>
              <b>Brand</b>: {{product.brand}}
            </div>
            <div>
              <b>Color</b>: {{product.colour.color}}
            </div>
            <div>
              <span>$</span><b>Price</b>: {{product.price.final_price}}
            </div>
          </div>
          <button type="button" class="button" (click)="countItem()">Add</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
